[kivy]
config_version = 0

[input]
mouse = mouse
%(name)s = probesysfs,provider=hidinput
## the following settings should help with raspberry touchscreen.
## see https://kivy.org/docs/installation/installation-rpi.html#using-official-rpi-touch-display
mtdev_%(name)s = probesysfs,provider=mtdev
## the following line, when enabled, might produce double chars.
# hid_%(name)s = probesysfs,provider=hidinput
