[*]
wallpaper_mode=color
wallpaper_common=1
wallpaper=/usr/share/pixel-wallpaper/raspberry-pi-logo.png
desktop_bg=#d6d3de
desktop_fg=#e8e8e8
desktop_shadow=#d6d3de
desktop_font=Roboto Light 12
show_wm_menu=0
sort=mtime;ascending;
show_documents=0
show_trash=1
show_mounts=0
prefs_app=pipanel

