[Desktop Entry]
Type=Application
Name=Maintenance Mode
Exec=/home/pi/start_reverse_ssh.sh
Icon=/home/pi/waeup.identifier/waeup/identifier/images/network-transmit-receive.png
Comment="Enable Remote Hands"
Terminal=true
Categories=Utility
StartupNotify=True
