[Desktop Entry]
Type=Application
Name=WAeUP identifier
Exec=/home/pi/venv34/bin/waeup_identifier
Icon=/home/pi/waeup.identifier/waeup/identifier/images/waeupicon_128.png
Comment="WAeUP Identifier"
Terminal=true
Categories=Network;
StartupNotify=True
