[Desktop Entry]
Type=Application
Name=WAeUP Identifier
Exec=/home/pi/venv34/bin/waeup_identifier
Icon=/home/pi/waeup.identifier/waeup/identifier/images/fingerprint-gui_96x96.png
Comment="WAeUP Identifier"
Terminal=true
Categories=Network;
StartupNotify=True
