[Desktop Entry]
Type=Application
Exec=/home/pi/venv34/bin/waeup_identifier
Icon=/home/pi/waeup.identifier/waeup/identifier/images/waeupicon.png
Comment="WAeUP Identifier"
Terminal=true
Categories=Utility
StartupNotify=True
